<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1 style="color:aqua">Hi! this is  my family </h1>
    <p>My family  is: {{person_name}} {{last_name}} is my {{relative}}</p>
    <p>My family  is: {{person_name2}} {{last_name2}} is my {{relative2}}</p>
    <p>My family  is: {{person_name3}} {{last_name3}} is my {{relative3}}</p>
    <h1 style="color:rgb(75, 250, 1)"> The time is: {{hora}} </h1>
    
    
</body>
</html>